@page "/GetIdStudent"
@using ProjectBlazor
@using ProjectBlazor.Models
@using ProjectBlazor.StudentData
@inject IStudent studentServies
<h3>GetIdStudent</h3>
<label>StudentId</label>
<input placeholder="StudentID" @bind="studentid" />
<button class="btn btn-primary" @onclick="GetId">GetBy</button>

<table class="table">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>StudentName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@studentDto.studentId</td>
            <td>@studentDto.Name</td>
        </tr>
    </tbody>
</table>


@code {
    private int studentid { get; set; }

    private Student studentDto { get; set; }

    private async Task GetId()
    {
        var result = await studentServies.GetStudentById(studentid);
    }
}